<div class="row">
    <div class="col-12 col-md-8">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <!-- <div class="col-6"> -->
                <div class="col-6 col-md-8">
                    <label for="fn">First Name: </label>
                    <input id="fn" type="text" formControlName="fn"/>
                </div>
                <div class="col-6 col-md-8">
                    <label for="ln">Last Name: </label>
                    
                    <input id="ln" type="text" formControlName="ln">
                </div>
            <!-- </div> -->
            <div class="col-6 col-md-8" formGroupName="address">
                <h2>Address</h2>
                <div class="col-6 col-md-8">
                    <label for="street">Street: </label>
                    <input id="street" type="text" formControlName="street">
                </div>
                <div class="col-6 col-md-8">
                    <label for="city">City: </label>
                    <input id="city" type="text" formControlName="city">
                </div>
                <div class="col-6 col-md-8">
                    <label for="state">State: </label>
                    <input id="state" type="text" formControlName="state">
                </div>
                <div class="col-6 col-md-8">
                    <label for="zip">Zip: </label>
                    <input id="zip" type="text" formControlName="zip">
                </div>
            </div>
            <div formArrayName="aliases">
                <h2>Aliases</h2>
                <button type="button" (click)="addAlias()">+ Add another alias</button>

                <div *ngFor="let alias of aliases.controls; let i=index">
                    <label for="alias-{{i}}">Alias:</label>
                    <input id="alias-{{i}}" type="text" [formControlName]="i"/>
                </div>
            </div>
            <button type="submit" [disabled]="!profileForm.valid">Submit</button>
        </form>
    </div>
</div>
<button type="button" (click)="updateProfile()">Update Profile</button>
<p>Form Status: {{profileForm.status}}</p>